
#formbox				{ margin-left: 200px; }


form label				{ float: left; width: 150px;margin-top:10px }
form input				{ margin-left: 20px; width: 250px; float: left; margin-top: 10px; -moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px; border: 1px #CCC solid; padding: 5px }
form br					{ clear: both }
input:focus		        { outline: none }
h1						{ color: #000 }

#street					{width: 194px; margin-right: -5px}
#number					{width: 30px}
#message				{ height: 75px; margin-left: 20px; width: 250px; float: left; margin-top: 10px; -moz-border-radius:10px;  }
#message label			{ margin-top: 1px; }

#submit					
{ 
  margin-left: 170px
}

#submit:hover		
{
   background: #9dd53a; /* Old browsers */
   background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f),
   color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /*   Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
background: linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */

}

